<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="Style.css" rel="stylesheet" />
    <title>Articles | Body Mechanics Gym Waihi Beach</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Body Mechanics Gym in Waihi Beach, Check us out!">
    <meta name="keywords" content="Body Mechanics, Body Mechanics Gym, Gym Waihi, Waihi Beach, Fred Frauendorf, Gym in Waihi, Great Gym, Casual Gym">
    <link rel="icon" href="/bodyMechanicsIcon.png">
</head>

<body ng-app>
    <div id="main">
        <header>
            <a href="http://www.bodymechanicsgym.co.nz/index.html " class="logo" title="Body Mechanics Gym">
                <img src="bodyMechanicsLogo.png" alt="Body Mechanics Gym" />
            </a>
            <nav>
                <a href="http://www.bodymechanicsgym.co.nz/index.html ">Home</a>
                <a href="http://www.bodymechanicsgym.co.nz/join.html ">Join</a>
                <a href="http://www.bodymechanicsgym.co.nz/whyus.html">Why Us</a>
                <a href="http://www.bodymechanicsgym.co.nz/articles.html" class="active">Articles</a>
                <a href="http://www.bodymechanicsgym.co.nz/faqs.html ">FAQ's</a>
                <a href="http://www.bodymechanicsgym.co.nz/contact.html ">Contact</a>
            </nav>
        </header>
        <section class="article">
            <h1>Some popular articles to get you started !</h1>
            <p>
                Nutrition & Supplements
                <input type="checkbox" ng-model="nutritionAndSupps">
            </p>
            <p>
                <div ng-show="nutritionAndSupps">
                    <a href="http://www.bodybuilding.com/content/bulking-for-ectomorphs-nutritional-requirements-including-sample-diet.html"
                        target="_blank" title="Ectomorph Bulking Diet Explained">Ectomorph Bulking Diet Explained</a>
                </div>
            </p>
            <p>
                <div ng-show="nutritionAndSupps">
                    <a href="http://www.bodybuilding.com/fun/begginers-guide-to-supplements-5-starter-supps.html" target="_blank" title="A Beginners Guide to Supplements">A Beginners Guide to Supplements</a>
                </div>
            </p>
            <p>
                <div ng-show="nutritionAndSupps">
                    <a href="http://www.bodybuilding.com/fun/hunter-labradas-guide-pre-workout-nutrition-supplementation.html" target="_blank"
                        title="Hunter Labrada's Guide to Pre-Workout Nutrition and Supplementation">Hunter Labrada's Guide to Pre-Workout Nutrition and Supplementation</a>
                </div>
            </p>
            <p>
                Cardio & High Intensity
                <input type="checkbox" ng-model="cardioAndHIT">
            </p>
            <p>
                <div ng-show="cardioAndHIT">
                    <a href="https://www.verywell.com/exercise-for-beginners-cardio-exercise-1229578" target="_blank" title="Cardio Exercise for Beginners">Cardio Exercise for Beginners</a>
                </div>
            </p>
            <p>
                <div ng-show="cardioAndHIT">
                    <a href="http://www.bodybuilding.com/fun/beginner_fat_loss_program.htm" target="_blank" title="Beginners Weight Loss">Beginners Weight Loss (Easy To Follow Program For Results)</a>
                </div>
            </p>
            <p>
                Fighting Physique
                <input type="checkbox" ng-model="fightingPhysique">
            </p>
            <p>
                <div ng-show="fightingPhysique">
                    <a href="http://www.bodybuilding.com/content/build-a-fighting-physique-like-conor-mcgregor.html" target="_blank" title="Connor McGregor Fighting Physique Workout Routine">Connor McGregor Fighting Physique Workout Routine</a>
                </div>
            </p>
            <div ng-show="fightingPhysique">
                <a href="https://www.boxingnewsandviews.com/2015/09/04/floyd-mayweather-training-routine" target="_blank" title="Floyd Mayweather Workout Routine">Floyd Mayweather Workout Routine</a>
            </div>
            <p>
                Famous Workouts
                <input type="checkbox" ng-model="famousWorkouts">
            </p>
            <p>
                <div ng-show="famousWorkouts">
                    <a href="http://www.frankzane.com/the-growth-program-then-and-now-frank-zane" target="_blank" title="Frank Zane Workout Routine">Frank Zane Workout Routine (Incredible Physique)</a>
                </div>
            </p>
            <p>
                <div ng-show="famousWorkouts">
                    <a href="http://www.bodybuilding.com/content/train-like-dwayne-the-rock-johnson.html" target="_blank" title="Dwayne Johnson The Rock Workout Routines and Diet Plans">Dwayne Johnson "The Rock" Workout Routines and Diet Plans</a>
                </div>
            </p>
            <p>
                <div ng-show="famousWorkouts">
                    <a href="http://neverfearfailure.com/2016/10/rich-pianas-workout-routine-can-you-handle-it" target="_blank" title="Rich Piana's Workout Routine">Rich Piana's Workout Routine (Serious Muscle)</a>
                </div>
            </p>
            <p>
                Body Type Specific Guides
                <input type="checkbox" ng-model="bodySpecGuides">
            </p>
            <p>
                <div ng-show="bodySpecGuides">
                    <a href="http://www.bodybuilding.com/fun/becker3.htm" target="_blank" title="Are you an Ecto, Endo or Meso Morph">Find out whether you're an "Ectomorph", "Mesomorph" or "Endomorph"</a>
                </div>
            </p>
            <p>
                <div ng-show="bodySpecGuides">
                    <a href="http://www.shawacademy.com/blog/7-weight-gain-tips-for-the-ectomorph" target="_blank" title="Weight Gain Tips For An Ectomorph">Weight Gain Tips For An Ectomorph</a>
                </div>
            </p>
            <p>
                <div ng-show="bodySpecGuides">
                    <a href="http://healthandstyle.com/body-type/endomorph-diet" target="_blank" title="Endomorph Diet Guidelines">Endomorph Diet Guidelines</a>
                </div>
            </p>
            <p>
                <div ng-show="bodySpecGuides">
                    <a href="https://www.acefitness.org/acefit/healthy-living-article/59/5078/how-to-eat-and-train-for-an-endomorph-body" target="_blank"
                        title="A Total Guide for Endomorphs">A Total Guide for Endomorphs</a>
                </div>
            </p>
            <p>
                Motivation
                <input type="checkbox" ng-model="motivation">
            </p>
            <p>
                <div ng-show="motivation">
                    <a href="https://spark.adobe.com/page/23y0M8M5dPy8m/" target="_blank" title="Muhammed Ali - The Greatest Tribute">Muhammed Ali - The Greatest Tribute (Motivational)</a>
                </div>
            </p>
            <p>
                <div ng-show="motivation">
                    <a href="https://spark.adobe.com/page/wNLCkt6sOtGZK/" target="_blank" title="CT Fletcher Best Motivation Speech">CT Fletcher Best Motivation Speech</a>
                </div>
            </p>
            <p>
                <div ng-show="motivation">
                    <a href="https://spark.adobe.com/page/acb4JZoZAwKFw/" target="_blank" title="Conor McGregor Motivation">Conor McGregor Motivation</a>
                </div>
            </p>
            <p>
                <div ng-show="motivation">
                    <a href="https://spark.adobe.com/page/OFZSJbmkKcPgS/" target="_blank" title="Floyd Mayweather Motivation">Floyd Mayweather Motivation</a>
                </div>
            </p>
            <p>
                <div ng-show="motivation">
                    <a href="https://spark.adobe.com/page/0Q1rG1eqwr6xD/" target="_blank" title="Facing the Giants">Facing the Giants (Death Crawl Scene)</a>
                </div>
            </p>
            <p>
                Mindset
                <input type="checkbox" ng-model="mindset">
            </p>
            <p>
                <div ng-show="mindset">
                    <a href="https://spark.adobe.com/page/rN1qDKP3by4HM/" target="_blank" title="Visualise, Manifest and Realise your Dreams - Conor McGregor">Visualise, Manifest and Realise your Dreams - Conor McGregor</a>
                </div>
            </p>
            <p>
                <div ng-show="mindset">
                    <a href="https://spark.adobe.com/page/CvoRQ0sXYa2jY/" target="_blank" title="Arnold Schwarzenegger - Mindset">Arnold Schwarzenegger - Mindset</a>
                </div>
            </p>
        </section>
        <footer>
            <p>
                Copyright &copy;
                <script>
                    document
                        .write(new Date().getFullYear())
                </script> Body Mechanics, Don't forget to check out our
                <a href="https://www.facebook.com/bodymechanicswb" target="_blank" title="Body Mechanics Facebook Page">Body Mechanics Facebook Page</a>
            </p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</body>

</html>