
/*=== GLOBALS ===*/

*, *:before, *:after {
    box-sizing: border-box;
}

a, a:visited, a:active, a:focus {
    color: red;
    -webkit-transition: .1s;
    transition: .1s;
}

/*=== BODY ===*/

body {
    margin: 0;
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/*=== MAIN CONTAINER ===*/

#main {
    width: 100%;
    margin: auto;
    padding: 0 10px;
    max-width: 1000px;
}

/*=== HEADER ===*/

header a, header a:visited {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    color: #ddd;
    line-height: 1;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 3px;
}

header .active {
    color: white;
    background: #DF1327;
    pointer-events: none;
}

header a:hover {
    background: rgba(0, 0, 0, .8);
}

header a.active {
    color: white;
}

/*Logo*/

.logo {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}

.logo img {
    width: 100%;
}

/*Top Nav*/

nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    -webkit-justify-content: space-between;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: #ccc solid 1px;
}

nav a {
    padding: 10px 5px;
    background: rgba(0, 0, 0, .8);
    color: #ddd;
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    opacity: 0.8;
    transition: .01s;
}

nav a:active {
    color: white;
}

/*=== FOOTER ===*/

footer {
    border-top: #ccc solid 1px;
    color: #918f8f;
    text-align: center;
    margin-top: 30px;
}

/*=== BENEFITS ===*/

.benefits {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 40px;
}

.benefits div {
    width: 48%;
    background: #DF1327;
    color: white;
    border-radius: 3px;
}

.benefits ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 100%;
    margin: 0;
    padding: 20px;
    list-style: none;
    text-align: center;
}

.benefits li {
    width: 100%;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 600;
}

section {
    margin-top: 30px;
}

/*=== JOIN US PAGE CONTENT ===*/

.join-us {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.join-us h1 {
    width: 100%;
}

.join-us h2 {
    color: #DF1327;
}

.join-us div {
    -webkit-box-flex: 1;
    -webkit-flex: 1 250px;
    -ms-flex: 1 250px;
    flex: 1 250px;
}

.join-us li {
    list-style-type: circle;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    -webkit-animation: fadeIn 2s forwards ease-out;
    animation: fadeIn 2s forwards ease-out;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.join-us div:nth-of-type(2) {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-left: 6px;
    margin-bottom: 0px;
    padding-top: 0px;
}

.article div {
    -webkit-animation: fadeIn 1s forwards ease-out;
    animation: fadeIn 1s forwards ease-out;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: scale(.6);
        transform: scale(.6);
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: scale(.6);
        transform: scale(.6);
    }
    to {
        opacity: 1;
    }
}

/*=== WHY US PAGE CONTENT ===*/

.why-us {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 1.8;
    justify-content: space-around;
}

.why-us h1 {
    width: 100%;
}

.why-us ul {
    padding-left: 20px;
}

.why-us li {
    margin-bottom: 10px;
    list-style-type: circle;
}

.why-us div:first-child {
    width: 100%;
    text-align: center;
}

.why-us div:first-child img {
    width: 50%;
}

.why-us div img {
    border: 4px black solid;
    border-radius: 2px;
}

.why-us h2 {
    color: #df1327;
}

.why-us .padRight {
    margin-right: 50px;
}

@media (min-width:500px) {
    .why-us div:first-child {
        width: 25%;
    }
    .why-us div:last-child {
        padding-left: 2%;
        width: 65%;
    }
    .why-us div:first-child img {
        width: 100%;
    }
}

/*=== CONTACT PAGE CONTENT ===*/

.contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 1.8;
    justify-content: space-around;
}

.contact h1 {
    width: 100%;
}

.contact ul {
    padding-left: 20px;
}

.contact li {
    margin-bottom: 10px;
    list-style-type: none;
}

.contact div:first-child {
    width: 100%;
    text-align: center;
}

.contact div:first-child img {
    width: 50%;
}

.contact h2 {
    color: #df1327;
}

.contact .padRight {
    margin-right: 50px;
}

@media (min-width:500px) {
    .contact div:first-child {
        width: 25%;
    }
    .contact div:last-child {
        padding-left: 2%;
    }
    .contact div:first-child img {
        width: 100%;
    }
}

.faqs h1 {
    width: 100%;
    padding-bottom: 10px;
}

.faqs h2 {
    color: #df1327
}

/*=== WHEY PAGE ===*/

.whey {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 1.8;
}

.whey h1 {
    width: 100%;
}

.whey ul {
    padding-left: 20px;
}

.whey li {
    margin-bottom: 10px;
}

.whey div:first-child {
    width: 100%;
    text-align: center;
}

.whey div:first-child img {
    width: 50%;
}

input.textbox-300 {
    width: 300px;
    margin-top: 0px;
}

.whey img {
    margin-right: 30px;
    margin-top: 70px;
}

.whey form input {
    padding: 5px;
    border-radius: 5px;
}

.submit {
    width: 150px;
    background: lightblue;
}

/*=== MEDIA QUERIES ===*/

@media (min-width: 700px) {
    /*Top Nav*/
    nav a {
        -webkit-flex-basis: 15%;
        -ms-flex-preferred-size: 15%;
        flex-basis: 15%
    }
}

/*=== IFRAME RESPONSITIVITY ===*/

.intrinsic-container {
    ��position: relative;
    ��height: 0;
    ��overflow: hidden;
}

/* 16x9 Aspect Ratio */

.intrinsic-container-16x9 {
    ��padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */

.intrinsic-container-4x3 {
    ��padding-bottom: 75%;
}

.intrinsic-container iframe {
    ��position: absolute;
    ��top: 0;
    ��left: 0;
    ��height: 100%;
    margin-top: 30px;
    
}